
body {
	margin: 0;
	padding: 0;
	background: #06565f /*url(images/img05.jpg) repeat*/;
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	color: #f36f21;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	color: #f36f21;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	color: #09b7c0;
}

a:hover {
}

#wrapper {
	overflow: hidden;
	padding: 0px 0px 30px 0px;
	background: #06565f url/*(images/img01.jpg) */repeat;
}

.container {
	width: 1000px;
	margin: 0px auto;
}

/* Header */

#header-wrapper {
	overflow: hidden;
	height: 600px;
}

#header {
	overflow: hidden;
	width: 1000px;
	height: 150px;
	margin: 0 auto;
	padding: 0px 0px;
}

/* Logo */

#logo {
	float: left;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}

/* Menu */

#menu {
	overflow: hidden;
	position: fixed;
	float: right;
	width: 1350px;
	height: 90px;
	padding: 0;
	background: #09b6bf url(images/img01.png) repeat left bottom;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 30px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	padding: 0px 0px 0px 0px;
}

#menu a {
	display: block;
	margin-right: 1px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 21px;
	font-weight: 500;
	color: #f36f21;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
	background: #f36f21;
	border-radius: 5px;
}

/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 0px 0px 30px 0px;
}

/* Content */

#content {
	float: left;
	width: 660px;
	padding: 0px 0px 0px 0px;
}

.post {
	overflow: hidden;
	background: #06565f;
	border-radius: 15px;
	padding: 30px;
}

.post .title {
	padding: 7px 0px 0px 0px;
	letter-spacing: -1px;
}

.post .title a {
	border: none;
	text-decoration: none;
	color: #09b6bf;
}

.post .entry {
	padding: 0px 0px 40px 0px;
	text-align: justify;
}
/* Footer */

#footer {
	height: 20px;
	margin: 0 auto;
	padding: 50px 0 15px 0;
	font-family: 'Abel', sans-serif;
	border: 1px solid #171717;
}

#footer p {
	margin: 0;
	padding-top: 10px;
	letter-spacing: 1px;
	line-height: normal;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #f36f21;
}

#footer a {
	color: #f36f21;
}

#banner {
	margin: 0px auto;
	width: 1000px;
	height: 440px;
	background: url(images/img03.png) no-repeat left bottom;
}

#banner .content img {
	background: #000000;
	border-radius: 15px;
}

.list-style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style1 a {
	color: #09b6bf;
}

/** LIST STYLE 1 */

ul.style1 {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

ul.style1 li {
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #171717;
	line-height: 160%;
}

ul.style1 a {
	display: block;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	color: #09b6bf;
}

ul.style1 a:hover {
	text-decoration: underline;
}

ul.style1 .first {
	border-top: none;
	padding-top: 0px;
}

#featured-content {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
	text-align: justify;
}

#featured-content h2 {
		margin: 0px;
		padding: 0px 0px 20px 0px;
		font-size: 26px;
		color: #FFFFFF;
		background: #09b6bf;
}

#featured-content #column1 {
	float: left;
	width: 300px;
	margin-right: 50px;
}

#featured-content #column2 {
	float: left;
	width: 300px;
}

#featured-content #column3 {
	float: right;
	width: 300px;
}

#featured-content img {
	background: #000000;
	border-radius: 15px;
}


.button a {
	display: block;
	float: left;
	width: 88px;
	padding: 5px 5px;
	margin-right: 10px;
	background: #09b6bf repeat;
	border-radius: 5px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}
